$primary-color: #50806B;
$secondary-color: black;
$third-color: white;
$fours-color: #979797;
$fifth-color:#343434;
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$bg-color: #E8EDDE;;
$bg-secondary-color: #ffffff;

